@charset "utf-8";
/* CSS Document */



*{
	margin:0px;
	padding:0px;
}

body{
	background:url('../images/top_bg.jpg') repeat-x;
}


h1{
	color:#CCC;
}


.top-menu{
	margin-top:60px;
	margin-left:210px;
	list-style:none;

}

.top-menu li{
	float:left;
	
}

.top-menu a{
	color:#000;
	padding:10px;
	margin-left:5px;
	margin-right:5px;
	display:block;
	background:url(../images/button_bg.jpg) repeat-x;
	border:#999 solid 3px;
	text-decoration:none;
}

.top-menu a:hover{
	color:#FFF;
	background:url(../images/button_bg_pressed.jpg);
	border:#eee solid 3px;
}